<h1>The Best Blog Ever</h1>
<br/>
<% if @posts.count > 0 %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <h4><%= post.content %></h4>
  <% end %>
<% else %>
  <h2>Darn, looks like we don’t have anything...</h2>
<% end %>